{% extends 'flight/layout.html' %}

{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/payment_style.css' %}">
{% endblock %}

{% block body %}
    <section class="section section1">
        <div class="container">
            <div class="payment-box">
                <div class="payment-box-head-div">
                    <div class="payment-box-head">
                        <h5>Payment Details</h5>
                        <div class="display-td">
                            <img class="card-img" src="{% static 'img/card.png' %}">
                        </div>
                    </div>
                </div>
                <div class="payment-details-input-box">
                    <form action="{% url 'payment' %}" method="POST">
                        {% csrf_token %}
                        <!--<input type="hidden" name="payment_amount" value="{{fare}}">-->
                        <input type="hidden" name="ticket" value="{{ticket}}" required>
                        {% if ticket2 %}
                            <input type="hidden" name="ticket2" value="{{ticket2}}" required>
                        {% endif %}
                        <div class="row payment-amount-div">
                            <div class="form-group">
                                <label for="payment_amount">PAYMENT AMOUNT</label>
                                <input type="text" class="form-control" id="payment_amount" name="fare" value=" {{fare}} VND" disabled required>
                            </div>
                        </div>
                        <div class="row card-no-div">
                            <div class="form-group">
                                <label for="card_number">CARD NUMBER</label>
                                <div class="input-group">
                                    <input type="tel" pattern="[0-9]*" class="form-control" id="card_number" name="cardNumber" autocomplete="off" maxlength="19" placeholder="Enter card number" required> <!--onkeypress="return isNumericValue(event);"-->
                                    <div class="input-group-append">
                                        <span class="input-group-text" id="basic-addon2">
                                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-credit-card" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
                                            <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
                                        </svg>
                                        </span>
                                    </div>
                                </div>
                                <!--<small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                            </div>
                        </div>
                        <div class="row card-holder-div">
                            <div class="form-group">
                                <label for="card_holder_name">CARD HOLDER'S NAME</label>
                                <input type="text" name="cardHolderName" class="form-control" id="cardHolderName" placeholder="Enter name" required>
                                <!--<small id="nameHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                            </div>
                        </div>
                
                        <div class="payment-btn">
                            <button class="btn btn-primary btn-danger">Make payment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>



    </section>
{% endblock %}